<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>À propos - PolyDraw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="PolyDraw logo" />
        <span>PolyDraw</span>
      </div>
      <div class="nav-links">
        <a href="{{ url_for('index') }}">[GENERATEUR]</a>
        <a href="{{ url_for('a_propos') }}">[À PROPOS]</a>
      </div>
    </nav>

    <footer>
      <p>© PolyDraw - Projet Python CIN2 S4</p>
    </footer>
  </body>
</html>
