<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>🎮 PolyDraw - Générateur de motifs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="PolyDraw logo" />
        <span>PolyDraw</span>
      </div>
      <div class="nav-links">
        <a href="{{ url_for('index') }}">[GENERATEUR]</a>
        <a href="{{ url_for('a_propos') }}">[À PROPOS]</a>
      </div>
    </nav>

    <main>
      <section class="header">
        <h1>&gt; Générateur de Motifs</h1>
        <p>Utilise la géométrie pour créer ton propre art rétro.</p>
      </section>

      <section class="form-container">
        <form method="POST">
          <input type="number" name="nb_cotes" placeholder="NOMBRE DE CÔTÉS" required />
          <input type="number" name="répétition" placeholder="REPETITION" required />
          <input type="number" name="taille" placeholder="TAILLE" required />
          <input type="number" step="any" name="angle" placeholder="ANGLE DE ROTATION" required />
          <div class="color-inputs">
            <input type="text" name="couleur" placeholder="COULEUR" required />
            <input type="color" name="picker" value="#00ff00" onchange="document.querySelector('input[name=couleur]').value = this.value" />
          </div>

          <button type="submit">[GÉNÉRER]</button>
        </form>

        {% if error %}
          <div class="error">ERREUR: {{ error }}</div>
        {% endif %}

        {% if image_path %}
          <div class="image-container">
            <h2>:: MOTIF GÉNÉRÉ</h2>
            <img src="{{ image_path }}" alt="Motif généré" />
            <form method="POST">
              <input type="hidden" name="nom_fichier_existant" value="{{ generated_filename }}" />
              <input type="text" name="nom_nouveau" placeholder="Nom du fichier" />
              <button type="submit">Renommer</button>
            </form>

            <a href="{{ image_path }}" download><button type="button">Télécharger</button></a>
          </div>
        {% endif %}
      </section>
    </main>

    <footer>
      <p>PolyDraw - Projet Python CIN2 S4</p>
    </footer>
  </body>
</html>
